@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
  font-size: 16px;
  background-color: #faf3dd;
}

div {
  font-family: 'Oswald', sans-serif;
  font-size: 8rem;
  color: #ffa69e;
}

.raster {
  display: grid;
  grid-auto-flow: column;
  height: 800px;
  grid-template-columns: repeat (5, 100px);
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}


@media screen and (max-width: 48em){
  body {
    background-color: #ffa69e;
  }

  div {
    font-family: 'Oswald', sans-serif;
    font-size: 8rem;
    color: #faf3dd;
  }

  .f {
    order: -3;
  }

  .e {
    order: -2;
  }
}
