@import url("https://use.typekit.net/nxs3csn.css");

* {
  font-size: 16px;
  font-family: 'nimbus-sans-extended', sans-serif;
  scroll-snap-type: y mandatory;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#_progress {
    --scroll: 0%;
    background: linear-gradient(to right,rgb(255, 255, 255) var(--scroll),transparent 0);
    position: fixed;
    width: 100%;
    height: 3px;
    top:0px;
    z-index: 100;
  }

section {
  height: 100vh;
  scroll-snap-align: start;
}

section.alpha {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1.5rem;
  align-items: start;
}

.bigTitle {
  grid-column-start: 1;
  grid-column-end: 13;
  position: absolute;
}

h1 {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 22rem;
  font-weight: 900;
  position: absolute;
  color: #272727;
  letter-spacing: normal;
  text-align: center;
  left: -2.5rem;
  top: -5rem;
  z-index: -10;
  animation: blur 5s ease 0s infinite;
}

@keyframes blur {
  0%, 75% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  22%, 90% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
  }
  50%, 100% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  }

.scrollNote {
  grid-column-start: 6;
  grid-column-end: 8;
  position: relative;
  top: 65%;
}

.scrollWrapper {
  text-align: center;
  margin-bottom: 1.4rem;
}

.iconWrapper {
  text-align: center;
}

.soundWrapper {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}

button {
  border: none;
  padding: 0;
  background: 0;
}

button:focus, button:active {
  border: none;
  padding: 0;
  background: 0;
}

.soundIcon {
  margin-bottom: 1rem;
}

.soundText {
  writing-mode: vertical-rl;
  align-self: center;
  margin-left: 1rem;
}

section.beta {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  align-items: center;
}

.firstLines {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}

.firstLines p {
  transform: translate3d(0,60px,0) rotate(7deg);
  opacity: 0;
  transition: all cubic-bezier(.215,.61,.355,1) 0.4s;
}

.firstLines.isinview p {
  transform: translateZ(0);
  opacity: 1;
}

.firstLines.isinview :nth-child(2) {
  transition-delay: 0.9s;
}
.firstLines.isinview :nth-child(3) {
  transition-delay: 3.4s;
}
.firstLines.isinview :nth-child(4) {
  transition-delay: 5.9s;
}

p {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  background-color: #272727;
  padding-top: 0.6rem;
  padding-bottom: 0.7rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  margin-bottom: 0.75rem;
  margin-top: 0;
  width: max-content;
}

strong {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-weight: bold !important;
  font-size: 2rem;
}


.secondLines {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: -o-right;
}

.secondLines p {
  transform: translate3d(0,60px,0) rotate(-7deg);
  opacity: 0;
  transition: cubic-bezier(.215,.61,.355,1) 0.4s;
}

.secondLines.isinview p {
  transform: translateZ(0);
  opacity: 1;
}

.secondLines.isinview :nth-child(2) {
  transition-delay: 2s;
}
.secondLines.isinview :nth-child(3) {
  transition-delay: 4s;
}
.secondLines.isinview :nth-child(4) {
  transition-delay: 6.5s;
}

.thirdLines {
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}

.thirdLines p {
  transform: translate3d(0,60px,0) rotate(7deg);
  opacity: 0;
  transition: all cubic-bezier(.215,.61,.355,1) 0.4s;
}

.thirdLines.isinview p {
  transform: translateZ(0);
  opacity: 1;
}

.thirdLines.isinview :nth-child(2) {
  transition-delay: 2s;
}
.thirdLines.isinview :nth-child(3) {
  transition-delay: 3.6s;
}
.thirdLines.isinview :nth-child(4) {
  transition-delay: 6.2s;
}

section.gamma {
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: repeat(24, 7.125rem);
  grid-gap: 1.5rem 1.5rem;
  height:auto;
}

.square {
  background-color: #272727;
  padding: 1rem;
  bottom: 0;
}

.whitesquare {
  background-color: white;
  padding: 1rem;
  bottom: 0;
}

p.squareText {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
  width: inherit;
}

p.whitesquareText {
  background-color: white;
  color: #272727;
  bottom: 0;
  width: inherit;
}

.item1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.item1 > p {
  align-self: end;
}

.item2 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}

.item3 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 9;
}

.item4 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 11;
}

.item5 {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 13;
}

.item6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 14;
  transform: rotate(90deg);
}

.item7 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 16;
  transform: rotate(180deg);
}

.item8 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 14;
  grid-row-end: 17;
  transform: rotate(270deg);
}

.item9 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 17;
  grid-row-end: 20;
}

.item10 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 19;
  grid-row-end: 22;
  transform: rotate(90deg);
}

.item11 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 20;
  grid-row-end: 23;
  transform: rotate(180deg);
}

.item12 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 21;
  grid-row-end: 24;
  transform: rotate(270deg);
}

section.delta {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(10, 6.25rem);
  background-color: black;
  x-overflow: hidden;
  height: max-content;
  transition: all ease 0.8s;
  transition-delay: 0.3s;
}

section.delta.isinview {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(10, 6.25rem);
  background-color: white;
}

.changeLine {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 4.125rem;
  font-weight: 700;
  color: #D6D6D6;
  width: max-content;
  margin: 0;
  opacity: 0;
  transition: all ease 0.2s;
  transition-delay: 0.3s;
}

.changeLine.isinview {
  opacity: 1;
}

span.main {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 4.125rem;
  font-weight: 700;
  color: #272727;
}

section.epsilon {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  background-color: white;
}

.wordsWrap {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}

p.words{
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
  color: #272727;
  background-color: inherit;
  text-align: center;
}

.item1 {
  opacity: 0;
  transform: translateY(2rem);
}

.item1.isinview {
  animation-name: item1;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item1 {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.item2 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item2.isinview {
  animation-name: item2;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:1.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item2 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(90deg);
  }
}

.item3 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item3.isinview {
  animation-name: item3;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:2.1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item3 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
  }
}

.item4 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item4.isinview {
  animation-name: item4;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item4 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(270deg);
  }
}

.item5 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item5.isinview {
  animation-name: item5;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:0.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item5 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(360deg);
  }
}
