@import url("https://use.typekit.net/nxs3csn.css");

* {
  font-size: 16px;
  font-family: 'nimbus-sans-extended', sans-serif;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#_progress {
    --scroll: 0%;
    background: linear-gradient(to right,rgb(255, 255, 255) var(--scroll),transparent 0);
    position: fixed;
    width: 100%;
    height: 3px;
    top:0px;
    z-index: 100;
  }

section {
  height: 100vh;
}

section.alpha {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1.5rem;
  align-items: start;
}

.bigTitle {
  grid-column-start: 1;
  grid-column-end: 13;
  position: absolute;
}

h1 {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 22rem;
  font-weight: 900;
  position: absolute;
  color: #272727;
  letter-spacing: normal;
  text-align: center;
  left: -2.5rem;
  top: -5rem;
  z-index: -10;
  animation: blur 5s ease 0s infinite;
}

@keyframes blur {
  0%, 75% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  22%, 90% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
  }
  50%, 100% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  }

.scrollNote {
  grid-column-start: 6;
  grid-column-end: 8;
  position: relative;
  top: 65%;
}

.scrollWrapper {
  text-align: center;
  margin-bottom: 1.4rem;
}

.iconWrapper {
  text-align: center;
}

.soundWrapper {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}

button {
  border: none;
  padding: 0;
  background: 0;
}

button:focus, button:active {
  border: none;
  padding: 0;
  background: 0;
}

.soundIcon {
  margin-bottom: 1rem;
}


section.beta {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  align-items: center;
}


.firstLines {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}

.firstLines p {
  display: inline-block;
  transform: translate3d(0,60px,0) rotate(7deg);
  opacity: 0;
  transition: all cubic-bezier(.215,.61,.355,1) 0.4s;
}

.firstLines.isinview p {
  transform: translateZ(0);
  opacity: 1;
}

.firstLines.isinview :nth-child(2) {
  transition-delay: 0.9s;
}
.firstLines.isinview :nth-child(3) {
  transition-delay: 3.4s;
}
.firstLines.isinview :nth-child(4) {
  transition-delay: 5.9s;
}
.firstLines.isinview :nth-child(5) {
  transition-delay: 5.89s;
}


p {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  background-color: #272727;
  padding-top: 0.6rem;
  padding-bottom: 0.7rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  margin-bottom: 0.75rem;
  margin-top: 0;
  width: max-content;
}

strong {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-weight: bold !important;
  font-size: 2rem;
}


.secondLines {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: -o-right;
}

.secondLines p {
  transform: translate3d(0,60px,0) rotate(-7deg);
  opacity: 0;
  transition: cubic-bezier(.215,.61,.355,1) 0.4s;
}

.secondLines.isinview p {
  transform: translateZ(0);
  opacity: 1;
}

.secondLines.isinview :nth-child(2) {
  transition-delay: 2s;
}
.secondLines.isinview :nth-child(3) {
  transition-delay: 4s;
}
.secondLines.isinview :nth-child(4) {
  transition-delay: 6.5s;
}

.thirdLines {
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}

.thirdLines p {
  transform: translate3d(0,60px,0) rotate(7deg);
  opacity: 0;
  transition: all cubic-bezier(.215,.61,.355,1) 0.4s;
}

.thirdLines.isinview p {
  transform: translateZ(0);
  opacity: 1;
}

.thirdLines.isinview :nth-child(2) {
  transition-delay: 2s;
}
.thirdLines.isinview :nth-child(3) {
  transition-delay: 3.6s;
}
.thirdLines.isinview :nth-child(4) {
  transition-delay: 6.2s;
}

section.gamma {
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: repeat(24, 7.125rem);
  grid-gap: 1.5rem 1.5rem;
  height:auto;
}

.square {
  background-color: #272727;
  padding: 1rem;
  bottom: 0;
  transition: all ease 0.3s;
}

.whitesquare {
  background-color: white;
  padding: 1rem;
  bottom: 0;
}

p.squareText {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
  width: inherit;
  background-color: none;
  transition: all ease 0.3s;
}


p.whitesquareText {
  background-color: white;
  color: #272727;
  bottom: 0;
  width: inherit;
}

.item1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.item1 > p {
  align-self: end;
}

.item2 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}

.item3 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 9;
}

.item4 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 11;
}

.item5 {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 13;
}

.item6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 14;
}

.item7 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 16;
}

.item8 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 14;
  grid-row-end: 17;
}

.item9 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 17;
  grid-row-end: 20;
}

.item10 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 19;
  grid-row-end: 22;
}

.item11 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 20;
  grid-row-end: 23;
}

.item12 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 21;
  grid-row-end: 24;
  transform: rotate(90deg);
}

section.delta {
  /*display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(20, 6.25rem);
  background-color: black;
  padding-top: 100px;
  x-overflow: hidden;
  height: max-content;*/
  padding-top: 3rem;
  transition: all ease 0.8s;
  transition-delay: 0.4s;
  box-sizing: border-box;
  color: #FFF;
  opacity: 0;
}

.delta.isinview {
  opacity: 1;
}


/* –––––––– START Marquee –––––––– */


.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 6rem;
}

.menu__item {
	cursor: default;
	position: relative;
	padding: 0 5vw;
}

.menu__item-link {
	display: inline-block;
	position: relative;
	color: #272727;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	font-family: 'nimbus-sans-extended', sans-serif;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 700;
	line-height: 1.8;
}

.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

/* –––––––– Marquee END –––––––– */



span.main {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 4.125rem;
  font-weight: 700;
  color: #272727;
}

.wordsWrap {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
  text-align: center;
}

/* ––––––––– START TEUFELSKREIS ––––––––– */


.item1 {
  opacity: 0;
  transform: translateY(2rem);
}

.item1.isinview {
  animation-name: item1;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item1 {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.item2 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item2.isinview {
  animation-name: item2;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:3.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item2 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(90deg);
  }
}

.item3 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item3.isinview {
  animation-name: item3;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:5.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item3 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
  }
}

.item4 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item4.isinview {
  animation-name: item4;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:5.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item4 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(270deg);
  }
}

.item5 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item5.isinview {
  animation-name: item5;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:0.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item5 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(360deg);
  }
}

.item6 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item6.isinview {
  animation-name: item6;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item6 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(90deg);
  }
}

.item7 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item7.isinview {
  animation-name: item7;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:1.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item7 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
  }
}

.item8 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item8.isinview {
  animation-name: item8;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:2.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item8 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(270deg);
  }
}

.item9 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item9.isinview {
  animation-name: item9;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item9 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(90deg);
  }
}

.item10 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item10.isinview {
  animation-name: item10;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:0.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item10 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
  }
}

.item11 {
  opacity: 0;
  transform: translateY(2rem) rotate(0deg);
}

.item11.isinview {
  animation-name: item11;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item11 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(270deg);
  }
}

.item12 {
  opacity: 0;
  transform: translateY(2rem) rotate(90deg);
}

.item12.isinview {
  animation-name: item12;
  animation-duration: 0.4s;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay:1.9s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes item12 {
  0% {
    opacity: 0;
    transform: translateY(2rem) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(90deg);
  }
}


/* ––––––– –––––––– */

.space {
  height: 8rem;
}

section.epsilon {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(28, 17rem);
  grid-gap: 1.5rem;
  height: 100%;
}

.silence {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
  opacity: 0;
  transform: translateY(20px);
  transition: all cubic-bezier(.215,.61,.355,1) 0.4s;
  transition-delay: 0.5s;
}

.silence.isinview {
  opacity: 1;
  transform: translateY(0);
}

h3 {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

h3 > span {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

h3 > span.silenceWord {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  color: #D6D6D6;
}

span.silenceWord.isinview {
  animation: silenceBlur;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes silenceBlur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    color: #D6D6D6;
  }
  100% {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    color: #272727;
  }
}

.tryit {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: end;
}

.topTryit {
  opacity: 0;
  transform: translateY(-50px);
  transition: all cubic-bezier(.215,.61,.355,1) 0.5s;
  transition-delay: 3.3s;
}

.bottomTryit {
  opacity: 0;
  transform: translateY(50px);
  transition: all cubic-bezier(.215,.61,.355,1) 0.5s;
  transition-delay: 3.9s;
}

.topTryit.isinview {
  opacity: 1;
  transform: translateY(0);
}

.bottomTryit.isinview {
  opacity: 1;
  transform: translateY(0);
}

/* – DEFIANT – */

.defi {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
  align-self: start;
  text-align: right;
  opacity: 0;
  transition: all cubic-bezier(.215,.61,.355,1) 0.4s;
  transition-delay: 8.3s;
}

.defi.isinview {
  opacity: 1;
}

.defiant {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: end;
}

.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid grey; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  opacity: 0;
}

.typewriter.isinview h3:nth-child(1) {
  width: 24em;
  animation: type1 4s steps(40, end);
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes type1 {
  0% {
    width: 0;}
  1% {
    opacity: 1;}
  99.9% {
    border-right: .15em solid grey;}
  100% {
    opacity: 1; border: none;}
}

.typewriter.isinview h3:nth-child(2) {
  width: 17em;
  animation: type1 4s steps(40, end);
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes type1 {
  0% {
    width: 0;}
  1% {
    opacity: 1;}
  99.9% {
    border-right: .15em solid grey;}
  100% {
    opacity: 1; border: none;}
}

/* – LIARS – */

.emotions {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
  justify-self: left;
  align-self: end;
}

h3.emoTop {
  opacity: 0;
  transform: translateX(25px);
}

h3.emoTop.isinview {
  animation: emoTop;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 1.5s;
}

@keyframes emoTop {
  0% {
    opacity:0;
    transform: translateX(25px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}

h3.emoBot {
  opacity: 0;
  transform: translateX(-25px);
}

h3.emoBot.isinview {
  animation: emoBot;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 2.9s;
}

@keyframes emoBot {
  0% {
    opacity:0;
    transform: translateX(-25px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}

.liars {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 9;
  align-self: top;
  text-align: left;
}

h4 {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 10rem;
  font-weight: 900;
  color: #272727;
  margin: 0;
  line-height: 0.8;
}

.liars {
  transform: scale(-1, 1);
  opacity: 0;
  transition: all cubic-bezier(.215,.61,.355,1) 0.5s;
  transition-delay: 1.5s;
}

.liars.isinview {
  opacity: 1;
}

/* – FREEDOM – */

.free {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 12;
  align-self: start;
  opacity: 0;
}

.free.isinview {
  animation: vibrate-1 0.3s linear infinite both;
  animation-delay: 1.6s;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  1% {
    opacity: 1;
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.freedom {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 12;
  align-self: end;
}

.topFree {
  transform: translateX(100px);
  opacity: 0;
}

.topFree.isinview {
  animation: position1;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0.8s;
}

.botFree {
  transform: translateX(-100px);
  opacity: 0;
}

.botFree.isinview {
  animation: position2;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0.8s;
}

@keyframes position1 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  1% {
    transform: translateX(100px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes position2 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  1% {
    transform: translateX(-100px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* – VITALS – */

.heart {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 13;
  grid-row-end: 14;
  align-self: end;
  text-align: center;
  opacity: 0;
  transition: all cubic-bezier(.215,.61,.355,1) 0.5s;
  transition-delay: 1.6s;
  animation: beat .55s infinite alternate;
	transform-origin: center;
}

.heart.isinview {
  opacity: 1;
}

@keyframes beat{
	to { transform: scale(1.025); }
}

.vitals {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 15;
  text-align: right;
  align-self: end;
}

.vitalsTop {
  transform: translateY(-100px);
  opacity: 0;
}

.vitalsBot {
  transform: translateY(100px);
  opacity: 0;
}

.vitalsTop.isinview {
  animation: vitals1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0.8s;
}

@keyframes vitals1 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.vitalsBot.isinview {
  animation: vitals2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 1.6s;
}

@keyframes vitals2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ––– breathing ––– */

.breathing {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 16;
  grid-row-end: 17;
  align-self: end;
}

.alive {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 18;
  align-self: end;
}

h4.spacing {
  opacity: 0;
  letter-spacing: normal;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 1.6s;
}

h4.spacing.isinview {
  opacity: 1;
  animation: spacing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-delay: 1.6s;
}

@keyframes spacing {
  to {
    letter-spacing: 1rem;
  }
}

.breathing {
  opacity: 0;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  transition-delay: 1s;
}

.breathing.isinview {
  opacity: 1;
}

/* ––– Positive Thought ––– */

.positive {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 20;
  grid-row-end: 22;
  writing-mode: vertical-rl;
  opacity: 0;
  transform: translateX(-75px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  transition-delay: 1s;
}

.positive.isinview {
  opacity: 1;
  transform: translateX(0);
}

.riv {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 20;
  grid-row-end: 22;
  align-self: center;
  opacity: 0;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  transition-delay: 1s;
}

.riv.isinview {
  opacity: 1;
}

.breakFlip {
  transform: rotateX(0);
}

.breakFlip.isinview {
  animation: swing-bottom-bck 1.2s ease-in-out infinite alternate-reverse both;
}

@keyframes swing-bottom-bck {
  0% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
  100% {
    transform: rotateX(180deg);
    transform-origin: bottom;
  }
}




/* ––– suicidal ––– */

.comfortable {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 24;
  grid-row-end: 25;
  opacity: 0;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  transition-delay: 1s;
}

.comfortable.isinview {
  opacity: 1;
}

.different {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 26;
  grid-row-end: 27;
  align-self: end;
  text-align: center;
}

.typewriter h5 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid grey; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  opacity: 0;
  margin: 0 auto;
}

.typewriter.isinview h5 {
  width: 32em;
  animation: typeLast 5s steps(40, end);
  animation-fill-mode: forwards;
}

@keyframes typeLast {
  0% {
    width: 0;}
  1% {
    opacity: 1;}
  99.9% {
    border-right: .15em solid grey;}
  100% {
    opacity: 1; border: none;}
}

h5 {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

/* –––––––––– Imprint –––––––––– */

section.zeta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  opacity: 0;
  transition: all ease 0.5s;
  transition-delay: 1.5s;
}

section.zeta.isinview {
  opacity: 1;
}

.imprint__artist {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(../img/NF-animated.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imprint__overlay {
  width: 100%;
  height: 100%;
  background-color: #272727;
  opacity: 1;
  transition: all ease 0.4s;
}


.artist__content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 10;
  writing-mode: vertical-rl;
  justify-self: center;
  text-align: right;
  padding-bottom: 5rem;
}

.imprint__music {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.music__content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 10;
  writing-mode: vertical-rl;
  justify-self: center;
  text-align: right;
  padding-bottom: 5rem;
}

.imprint__code {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.code__content {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 10;
  writing-mode: vertical-rl;
  justify-self: center;
  text-align: right;
  padding-bottom: 5rem;
}

h2 {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h6 {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 0.6rem;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a.imprint {
  font-family: 'nimbus-sans-extended', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #d6d6d6;
  text-decoration: none;
}
